body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #75b67a;
}

h1, h2 {
    color: #f9ffff;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
    text-align: color text white;
}

label {
    margin-top: 10px;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
